/* All styles for your Card Components live here */
.card-container {
    padding-left: 96px; 
    border: 1px solid blue;
    margin: 1px;
    
  }
  .card-container .card-banner  {
      width: 600px;
      height: 300px;
      display:block;
      background-image: url("https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png");
      background-size: contain;
      text-indent: -9999px;
      
    }
  
    .card-content {
      /* margin-left: 29px; */
      padding: 10px;
      padding-right: 37px;
      width: 550px;
      border-right: .5px solid gray;
      border-left: .5px solid gray;
      border-bottom: .5px solid gray;
      border-radius: 3px;
      margin-bottom: 10px;
      text-decoration: none;
    }
  
    .card-content h2 {
      font-size: 1rem;
    }
  
    .card-content a{
      /* text-decoration: none;
      color: black; */
      color: white;

    }
    .card-content p{
      color: black;
    }
   .card-content p {
     text-decoration: none;
   }